.wrap{
    max-width: 1024px;
    margin: 0 auto;
    background: #EFE9E7;
    font-family: 'Noto Sans TC', sans-serif;
    color: $brown;
}

// header
.header{
    height: 420px;
    background: url(https://upload.cc/i1/2021/12/31/AXDer7.png) center no-repeat;
    position: relative;
    color: $white;

    .header_menu{
        padding: 0px 0 0 2.5%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.75);

        .header_menu_logo{
            font-size: 24px;

            a{
                color: $white;
                font-weight: bolder;
                text-decoration: none;
                transition: all .3s;
            }
            a:hover{
                color: rgba(255, 255, 255, 0.4);
            }
        }

        .header_menu_minlist{
            display: none;
        }

        .header_menu_list{
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;
            transition: all .5s;
            li{
                margin:0 3%;

                a{
                    color: $white;
                    text-decoration: none;
                    transition:  all .3s;
                }
                a:hover{
                    color: rgba(255, 255, 255, 0.4);

                }
            }
        }

    }
    .header_title{
        background-color: rgba(0,0,0,0.35);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        padding: 20px 22px;
        line-height: 1.5;

        h2{
            font-size: 32px;
            white-space: nowrap;
            margin-bottom: 10px;
        }
    }
}
@media(max-width:768px){
    .header{
        .header_title{
            h2{
                i{
                    display: block;
                }
            }
        }
    }
}
@media(max-width:375px){
    .header{
        .header_menu{
            position: fixed;
            z-index: 2;

            .header_menu_minlist{
                display: block;
                align-self: center;
                a{
                    text-decoration: none;
                    color: $white;
                    margin-right: 20px;
                    font-size: 24px;
                }
            }
            .header_menu_list{
                background-color: rgba(0,0,0,0.98);
                position: absolute;
                top: 56px;
                left: 0;
                right: 0;
                overflow: hidden;
                max-height: 0;
                flex-direction: column;
                
    
                li{
                    width: 100%;
                    text-align: center;
                    a{
                        display: block;
                        padding: 10px 0;
                    }
                }
            }
        }
        
    }
    .open{
        .header_menu{
            .header_menu_list{
                max-height: 300px;
            }
        }
        
    }
}

// content
// secrets
.content_secrets{
    text-align: center;
    padding: 50px 0;

    h4{
        font-family: MicrosoftJhengHeiRegular;
        line-height: 2;
        margin-bottom: 30px;
        font-size: $font-xl;
    }

    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 255px;
            margin: 0 3%;

            img{
                width: 90%;
                margin: auto;
                margin-bottom: 20px;
            }
            p{
                text-align: left;
                line-height: 1.5;
            }
        }
    }
}
@media(max-width:768px){
    .content_secrets{
        ul{
            li{
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width:767px){
    .content_secrets{
        ul{
            flex-direction: column;

            li{
            width: 100%;   
            padding: 0 20px;
            margin: 0 0 30px 0; 
                
                img{
                    width: 50%;
                }

            }
        }
    }
}
@media(max-width:375px){
    .content_secrets{
        ul{
            li{
                img{
                    width: 90%;
                }
            }
        }
    }
}

// content_todaychef
.content_todaychef{
    background-color: $brown;
    color: $white;
    display: flex;
    padding: 0 4%;
    align-items: center;
    
    .content_todaychef_img{
        height: 460px;
        width: 50%;
        background: url(https://upload.cc/i1/2022/01/14/cd9Rey.png) center no-repeat;
    }
    .content_todaychef_name{
        width: 50%;
        padding: 0 0 0 30px;

        h2{
            font-size: $font-xl;
        }
        p{
            line-height: 1.5;
        }
        
    }
}
@media(max-width:768px){
    .content_todaychef{
        flex-direction: column;
        padding: 0;
        
        .content_todaychef_img{
            width: 100%;
        }
        .content_todaychef_name{
            width: 100%;
            padding:50px 4% 70px 4%;
        }
    }
}

//content_thoughts
.content_thoughts{
    padding: 50px 4%;
    h3{
        text-align: center;
        font-size: 24px;
       margin-bottom: 50px;
    }
    .content_thoughts_everybody{
        display: flex;
        li{
            display: flex;
            margin-right: 2%;
            img{
                margin:-25px 15px 0 0;
                width: 67px;
                height: 67px;
            }
            .content_thoughts_everybody_name{
                p{
                    line-height: 1.5;
                }
            }
        }
    }
}
@media (max-width:768px){
    .content_thoughts{
        padding: 50px 1%;
    }
}
@media(max-width:767px){
    .content_thoughts{
        padding: 50px 4%;
        .content_thoughts_everybody{
            flex-direction: column;
            li{
                margin-bottom: 50px;
            }
        }
    }
}

// content_position
.content_position{
    padding: 50px 4%;
    background: rgba(250,250,250,0.70);
    h3{
        margin-bottom: 30px;
        text-align: center;
        line-height: 1.4;
        font-family: MicrosoftJhengHeiRegular;
        font-size: 24px;
    }
    .content_position_booking{
        display: flex;
        .content_position_booking_map{
            border: 1px solid #CCCCCC;
            width: 50%;
            margin-right: 1%;
        }
        .content_position_booking_information{
            padding-left: 1%;
            width: 50%;
            form{
                > label{
                    margin-top: 17px;
                }
                input[type="tel"],input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
                    width: 100%;
                }
                input,label,a{
                    font-size: 14px;
                }
                .choose{
                    display: flex;
                    align-items: center;
                    margin: 10px 0 40px 0 ;
                    text-align: center;
                    label{
                        margin-top: 3px;
                        padding: 0 10px 0 0;
                        display: block;
                    }
                    input{
                        margin-right: 10px;
                    }
                }
                .information_button{
                    display: flex;
                    justify-content: end;
                    a{
                        width: 70px;
                        display: block;
                        border-radius: 3px;
                        margin-left: 15px;
                        &:first-child{
                            background-color: $gray;
                        }
                        &:last-child{
                            background-color: $bright-orange;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    .content_position{
        padding: 50px 1%;
    }
}
@media(max-width:767px){
    .content_position{
        padding: 50px 4%;
        .content_position_booking{
            flex-direction: column;
            .content_position_booking_map{
                width: 100%;
            }
            .content_position_booking_information{
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

// footer
.footer{
    display: flex;
    padding: 50px 4% 21px 4%;
    
    .footer_totle{
        width: 55%;
        display: flex;
        
        h4{
            font-size: 24px
        }
        p{
            line-height: 1.3;
        }
        .footer_totle_about{
            p{
                padding-right: 4%;
            }
        }
        .footer_totle_contact{
            
            ul{
                padding-left: 20px;
                list-style:disc;
            }
        }
    }
    
    .footer_community{
        width: 45%;
        text-align: end;

        h2{
            font-size: 49px;
            font-weight: 800;
            margin-bottom: 16px;
        }

        ul{
            display: flex;
            justify-content: end;
            
            li{
                margin-left: 10px;
                a{
                    text-decoration: none;
                }
                a.orange{
                    color: #DB4437;
                }
                a.lightBlue{
                    color: #41ABE1;
                }
                a.blue{
                    color: #3A5795;
                }
            }
        }
            
    }
}
@media(max-width:768px){
    .footer{
        flex-direction: column;
        
        .footer_totle{
            width: 100%;
            flex-direction: column;

            .footer_totle_contact{
                margin-top: 20px;
            }
        }
        .footer_community{
            margin-top: 20px;
            width: 100%;
        }
    }
}