// font-size
$font-s:12px;
$font-m:14px;
$font-l:18px;
$font-xl:20px;

// color
$brown:#3D1101;
$white:#ffff;
$gray:rgba(0,0,0,0.35);
$bright-orange:#F56C23;
$orange:#FF5E45; 

// shadow
$card-shadow:3px 3px 4px 0px rgba(0,0,0,0.16);